*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 18px;
  padding-left: 18px;
}
@media (min-width: 100%) {

  .container {
    max-width: 100%;
  }
}
@media (min-width: 1170px) {

  .container {
    max-width: 1170px;
  }
}
.pointer-events-none {
  pointer-events: none;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.inset-x-0 {
  left: 0px;
  right: 0px;
}
.inset-y-0 {
  top: 0px;
  bottom: 0px;
}
.-top-10 {
  top: -2.5rem;
}
.-top-\[40\%\] {
  top: -40%;
}
.bottom-\[-70px\] {
  bottom: -70px;
}
.left-0 {
  left: 0px;
}
.left-1\/2 {
  left: 50%;
}
.right-0 {
  right: 0px;
}
.right-2 {
  right: 0.5rem;
}
.top-0 {
  top: 0px;
}
.top-1\/2 {
  top: 50%;
}
.top-2 {
  top: 0.5rem;
}
.top-52 {
  top: 13rem;
}
.top-\[80\%\] {
  top: 80%;
}
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.z-\[999\] {
  z-index: 999;
}
.m-5 {
  margin: 1.25rem;
}
.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.my-\[18px\] {
  margin-top: 18px;
  margin-bottom: 18px;
}
.my-\[30px\] {
  margin-top: 30px;
  margin-bottom: 30px;
}
.-mt-9 {
  margin-top: -2.25rem;
}
.mb-10 {
  margin-bottom: 2.5rem;
}
.mb-24 {
  margin-bottom: 6rem;
}
.ml-5 {
  margin-left: 1.25rem;
}
.ml-7 {
  margin-left: 1.75rem;
}
.mt-10 {
  margin-top: 2.5rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-2\.5 {
  margin-top: 0.625rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mt-7 {
  margin-top: 1.75rem;
}
.mt-8 {
  margin-top: 2rem;
}
.mt-9 {
  margin-top: 2.25rem;
}
.mt-\[30px\] {
  margin-top: 30px;
}
.mt-\[70px\] {
  margin-top: 70px;
}
.ml-\[18px\] {
  margin-left: 18px;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.table {
  display: table;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.h-1 {
  height: 0.25rem;
}
.h-11 {
  height: 2.75rem;
}
.h-12 {
  height: 3rem;
}
.h-14 {
  height: 3.5rem;
}
.h-16 {
  height: 4rem;
}
.h-2 {
  height: 0.5rem;
}
.h-2\.5 {
  height: 0.625rem;
}
.h-4 {
  height: 1rem;
}
.h-48 {
  height: 12rem;
}
.h-5 {
  height: 1.25rem;
}
.h-6 {
  height: 1.5rem;
}
.h-9 {
  height: 2.25rem;
}
.h-\[100vh\] {
  height: 100vh;
}
.h-\[1px\] {
  height: 1px;
}
.h-\[60px\] {
  height: 60px;
}
.h-full {
  height: 100%;
}
.h-\[270px\] {
  height: 270px;
}
.h-\[300px\] {
  height: 300px;
}
.w-10 {
  width: 2.5rem;
}
.w-11 {
  width: 2.75rem;
}
.w-12 {
  width: 3rem;
}
.w-16 {
  width: 4rem;
}
.w-2 {
  width: 0.5rem;
}
.w-2\.5 {
  width: 0.625rem;
}
.w-20 {
  width: 5rem;
}
.w-3\.5 {
  width: 0.875rem;
}
.w-322 {
  width: 322px;
}
.w-4 {
  width: 1rem;
}
.w-450 {
  width: 450px;
}
.w-5 {
  width: 1.25rem;
}
.w-570 {
  width: 570px;
}
.w-6 {
  width: 1.5rem;
}
.w-870 {
  width: 870px;
}
.w-9 {
  width: 2.25rem;
}
.w-\[120px\] {
  width: 120px;
}
.w-\[124px\] {
  width: 124px;
}
.w-\[290px\] {
  width: 290px;
}
.w-\[291px\] {
  width: 291px;
}
.w-\[400px\] {
  width: 400px;
}
.w-\[60px\] {
  width: 60px;
}
.w-\[66px\] {
  width: 66px;
}
.w-\[70px\] {
  width: 70px;
}
.w-auto {
  width: auto;
}
.w-full {
  width: 100%;
}
.w-\[4\.2rem\] {
  width: 4.2rem;
}
.max-w-screen-xl {
  max-width: 1280px;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.scale-100 {
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.scale-95 {
  --tw-scale-x: .95;
  --tw-scale-y: .95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.list-decimal {
  list-style-type: decimal;
}
.list-disc {
  list-style-type: disc;
}
.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-1\.5 {
  gap: 0.375rem;
}
.gap-10 {
  gap: 2.5rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-2\.5 {
  gap: 0.625rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-5 {
  gap: 1.25rem;
}
.gap-6 {
  gap: 1.5rem;
}
.gap-7 {
  gap: 1.75rem;
}
.gap-8 {
  gap: 2rem;
}
.gap-\[30px\] {
  gap: 30px;
}
.gap-\[42px\] {
  gap: 42px;
}
.gap-\[50px\] {
  gap: 50px;
}
.gap-x-\[60px\] {
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.gap-y-4 {
  row-gap: 1rem;
}
.gap-y-5 {
  row-gap: 1.25rem;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-x-scroll {
  overflow-x: scroll;
}
.rounded-\[25px\] {
  border-radius: 25px;
}
.rounded-\[500px\] {
  border-radius: 500px;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-r_100 {
  border-radius: 100px;
}
.border {
  border-width: 1px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-b-\[2px\] {
  border-bottom-width: 2px;
}
.border-none {
  border-style: none;
}
.border-\[\#C9C9C9\] {
  --tw-border-opacity: 1;
  border-color: rgb(201 201 201 / var(--tw-border-opacity));
}
.border-borderColor {
  --tw-border-opacity: 1;
  border-color: rgb(212 212 212 / var(--tw-border-opacity));
}
.border-btnBg {
  --tw-border-opacity: 1;
  border-color: rgb(237 185 112 / var(--tw-border-opacity));
}
.border-primaryColor {
  --tw-border-opacity: 1;
  border-color: rgb(18 19 19 / var(--tw-border-opacity));
}
.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}
.border-b-borderColor {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(212 212 212 / var(--tw-border-opacity));
}
.border-opacity-20 {
  --tw-border-opacity: 0.2;
}
.border-opacity-30 {
  --tw-border-opacity: 0.3;
}
.bg-\[\#E4E4E4\] {
  --tw-bg-opacity: 1;
  background-color: rgb(228 228 228 / var(--tw-bg-opacity));
}
.bg-\[\#E7E7E7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(231 231 231 / var(--tw-bg-opacity));
}
.bg-bannerBg {
  --tw-bg-opacity: 1;
  background-color: rgb(5 41 37 / var(--tw-bg-opacity));
}
.bg-borderColor {
  --tw-bg-opacity: 1;
  background-color: rgb(212 212 212 / var(--tw-bg-opacity));
}
.bg-btnBg {
  --tw-bg-opacity: 1;
  background-color: rgb(237 185 112 / var(--tw-bg-opacity));
}
.bg-cardBg {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}
.bg-secondaryColor {
  --tw-bg-opacity: 1;
  background-color: rgb(59 63 62 / var(--tw-bg-opacity));
}
.bg-textColor {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-transparent {
  background-color: transparent;
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-opacity-10 {
  --tw-bg-opacity: 0.1;
}
.bg-opacity-15 {
  --tw-bg-opacity: 0.15;
}
.bg-opacity-\[7\%\] {
  --tw-bg-opacity: 7%;
}
.p-2 {
  padding: 0.5rem;
}
.p-5 {
  padding: 1.25rem;
}
.p-6 {
  padding: 1.5rem;
}
.p-\[18px\] {
  padding: 18px;
}
.p-\[30px\] {
  padding: 30px;
}
.p-4 {
  padding: 1rem;
}
.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-\[35px\] {
  padding-left: 35px;
  padding-right: 35px;
}
.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-3\.5 {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}
.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-9 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}
.py-\[15px\] {
  padding-top: 15px;
  padding-bottom: 15px;
}
.py-\[27px\] {
  padding-top: 27px;
  padding-bottom: 27px;
}
.px-\[18px\] {
  padding-left: 18px;
  padding-right: 18px;
}
.pb-32 {
  padding-bottom: 8rem;
}
.pb-9 {
  padding-bottom: 2.25rem;
}
.pl-5 {
  padding-left: 1.25rem;
}
.pl-6 {
  padding-left: 1.5rem;
}
.pl-9 {
  padding-left: 2.25rem;
}
.pl-\[15px\] {
  padding-left: 15px;
}
.pr-11 {
  padding-right: 2.75rem;
}
.pr-2 {
  padding-right: 0.5rem;
}
.pr-3 {
  padding-right: 0.75rem;
}
.pr-4 {
  padding-right: 1rem;
}
.pr-\[18px\] {
  padding-right: 18px;
}
.pt-0\.5 {
  padding-top: 0.125rem;
}
.pt-1 {
  padding-top: 0.25rem;
}
.pt-1\.5 {
  padding-top: 0.375rem;
}
.pt-10 {
  padding-top: 2.5rem;
}
.pt-2\.5 {
  padding-top: 0.625rem;
}
.pt-20 {
  padding-top: 5rem;
}
.pt-3 {
  padding-top: 0.75rem;
}
.pt-3\.5 {
  padding-top: 0.875rem;
}
.pt-4 {
  padding-top: 1rem;
}
.pt-5 {
  padding-top: 1.25rem;
}
.pt-6 {
  padding-top: 1.5rem;
}
.pt-7 {
  padding-top: 1.75rem;
}
.pt-\[18px\] {
  padding-top: 18px;
}
.pt-\[30px\] {
  padding-top: 30px;
}
.pt-\[70px\] {
  padding-top: 70px;
}
.pr-0 {
  padding-right: 0px;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.font-Helvetical {
  font-family: Helvetica Now Display, sans-serif;
}
.text-22xl {
  font-size: 22px;
}
.text-24xl {
  font-size: 24px;
}
.text-26xl {
  font-size: 26px;
}
.text-40xl {
  font-size: 40px;
}
.text-60xl {
  font-size: 60px;
}
.text-\[150px\] {
  font-size: 150px;
}
.text-\[34px\] {
  font-size: 34px;
}
.text-\[48px\] {
  font-size: 48px;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}
.font-medium {
  font-weight: 500;
}
.font-normal {
  font-weight: 400;
}
.font-semibold {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}
.leading-32 {
  line-height: 32px;
}
.leading-34 {
  line-height: 34px;
}
.leading-44 {
  line-height: 44px;
}
.leading-50 {
  line-height: 50px;
}
.leading-56 {
  line-height: 56px;
}
.leading-6 {
  line-height: 1.5rem;
}
.leading-7 {
  line-height: 1.75rem;
}
.leading-70 {
  line-height: 70px;
}
.leading-8 {
  line-height: 30px;
}
.leading-9 {
  line-height: 2.25rem;
}
.leading-\[150px\] {
  line-height: 150px;
}
.text-\[\#1213130D\] {
  color: #1213130D;
}
.text-\[\#4D4D53\] {
  --tw-text-opacity: 1;
  color: rgb(77 77 83 / var(--tw-text-opacity));
}
.text-\[\#E4E4E4\] {
  --tw-text-opacity: 1;
  color: rgb(228 228 228 / var(--tw-text-opacity));
}
.text-bannerBg {
  --tw-text-opacity: 1;
  color: rgb(5 41 37 / var(--tw-text-opacity));
}
.text-btnBg {
  --tw-text-opacity: 1;
  color: rgb(237 185 112 / var(--tw-text-opacity));
}
.text-primaryColor {
  --tw-text-opacity: 1;
  color: rgb(18 19 19 / var(--tw-text-opacity));
}
.text-secondaryColor {
  --tw-text-opacity: 1;
  color: rgb(59 63 62 / var(--tw-text-opacity));
}
.text-textColor {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.underline {
  text-decoration-line: underline;
}
.underline-offset-4 {
  text-underline-offset: 4px;
}
.opacity-0 {
  opacity: 0;
}
.opacity-100 {
  opacity: 1;
}
.shadow-shadow_1 {
  --tw-shadow: -10px 0px 40px 0px #030A1312;
  --tw-shadow-colored: -10px 0px 40px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-1000 {
  transition-duration: 1000ms;
}
.duration-300 {
  transition-duration: 300ms;
}
.duration-500 {
  transition-duration: 500ms;
}
.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}


/* custom font setup */
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('/assets/fonts/HelveticaNowDisplay-Regular.ttf') format('OpenType');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('/assets/fonts/HelveticaNowDisplay-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('/assets/fonts/HelveticaNowDisplay-Bold.ttf') format('opentype');
  font-weight: 600;
  font-style: normal;
} 
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('/assets/fonts/HelveticaNowDisplay-ExtraBold.ttf') format('opentype');
    font-weight: 700;
    font-style: normal;
  } 


/* CountUp */

@property --num-users {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  

  @property --num-percent {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  @keyframes counter {
    from {
        --num-users: 0;
        --num-percent:0;
    }
    to {
        --num-users: 10;
        --num-percent:98;
    }
  }



  .swiper-pagination-bullet-active {
    background: #121313 !important;
}


.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}



/* First swiper's pagination style */
.swiper-pagination .swiper-pagination-bullet {
  background-color: white !important;
  opacity: 0.3 !important;
  height: 4px !important;
  width: 50px !important;
  border-radius: 4px !important;
}


.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1 !important;
  background-color: white !important;
}

/* First swiper's pagination style */
.swiper-paginations .swiper-pagination-bullet {
  background-color: white !important;
  opacity: 0.3 !important;
  height: 4px !important;
  width: 50px !important;
  border-radius: 4px !important;
}


.swiper-paginations.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto !important;
}

.swiper-paginations .swiper-pagination-bullet-active {
  opacity: 1 !important;
  background-color: white !important;
}

.placeholder\:text-base::-moz-placeholder {
  font-size: 1rem;
  line-height: 1.5rem;
}

.placeholder\:text-base::placeholder {
  font-size: 1rem;
  line-height: 1.5rem;
}

.placeholder\:text-lg::-moz-placeholder {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.placeholder\:text-lg::placeholder {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.placeholder\:leading-7::-moz-placeholder {
  line-height: 1.75rem;
}

.placeholder\:leading-7::placeholder {
  line-height: 1.75rem;
}

.placeholder\:leading-8::-moz-placeholder {
  line-height: 30px;
}

.placeholder\:leading-8::placeholder {
  line-height: 30px;
}

.placeholder\:text-\[\#E4E4E4\]::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(228 228 228 / var(--tw-text-opacity));
}

.placeholder\:text-\[\#E4E4E4\]::placeholder {
  --tw-text-opacity: 1;
  color: rgb(228 228 228 / var(--tw-text-opacity));
}

.placeholder\:text-secondaryColor::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(59 63 62 / var(--tw-text-opacity));
}

.placeholder\:text-secondaryColor::placeholder {
  --tw-text-opacity: 1;
  color: rgb(59 63 62 / var(--tw-text-opacity));
}

.placeholder\:text-white::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.placeholder\:text-white::placeholder {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:border-borderColor:hover {
  --tw-border-opacity: 1;
  border-color: rgb(212 212 212 / var(--tw-border-opacity));
}

.hover\:border-btnBg:hover {
  --tw-border-opacity: 1;
  border-color: rgb(237 185 112 / var(--tw-border-opacity));
}

.hover\:border-opacity-30:hover {
  --tw-border-opacity: 0.3;
}

.hover\:bg-bannerBg:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(5 41 37 / var(--tw-bg-opacity));
}

.hover\:bg-btnBg:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(237 185 112 / var(--tw-bg-opacity));
}

.hover\:bg-cardBg:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}

.hover\:bg-white:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.hover\:text-bannerBg:hover {
  --tw-text-opacity: 1;
  color: rgb(5 41 37 / var(--tw-text-opacity));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:transition:hover {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.hover\:duration-500:hover {
  transition-duration: 500ms;
}

.hover\:ease-in-out:hover {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.group:hover .group-hover\:-translate-x-2 {
  --tw-translate-x: -0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:translate-x-2 {
  --tw-translate-x: 0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:bg-btnBg {
  --tw-bg-opacity: 1;
  background-color: rgb(237 185 112 / var(--tw-bg-opacity));
}

.group:hover .group-hover\:fill-primaryColor {
  fill: #121313;
}

.group:hover .group-hover\:stroke-primaryColor {
  stroke: #121313;
}

.group:hover .group-hover\:text-\[\#E4E4E4\] {
  --tw-text-opacity: 1;
  color: rgb(228 228 228 / var(--tw-text-opacity));
}

.group:hover .group-hover\:text-\[\#FFFFFF0D\] {
  color: #FFFFFF0D;
}

.group:hover .group-hover\:text-textColor {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.group:hover .group-hover\:transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.group:hover .group-hover\:duration-500 {
  transition-duration: 500ms;
}

.group:hover .group-hover\:ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {

  .md\:left-1\/2 {
    left: 50%;
  }

  .md\:top-36 {
    top: 9rem;
  }

  .md\:top-\[58\%\] {
    top: 58%;
  }

  .md\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .md\:my-9 {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
  }

  .md\:my-\[70px\] {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .md\:mb-\[150px\] {
    margin-bottom: 150px;
  }

  .md\:ml-0 {
    margin-left: 0px;
  }

  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:mt-10 {
    margin-top: 2.5rem;
  }

  .md\:mt-20 {
    margin-top: 5rem;
  }

  .md\:mt-5 {
    margin-top: 1.25rem;
  }

  .md\:mt-\[300px\] {
    margin-top: 300px;
  }

  .md\:mt-\[60px\] {
    margin-top: 60px;
  }

  .md\:mt-\[70px\] {
    margin-top: 70px;
  }

  .md\:block {
    display: block;
  }

  .md\:inline-block {
    display: inline-block;
  }

  .md\:flex {
    display: flex;
  }

  .md\:grid {
    display: grid;
  }

  .md\:hidden {
    display: none;
  }

  .md\:h-12 {
    height: 3rem;
  }

  .md\:h-20 {
    height: 5rem;
  }

  .md\:w-12 {
    width: 3rem;
  }

  .md\:w-20 {
    width: 5rem;
  }

  .md\:w-370 {
    width: 370px;
  }

  .md\:w-570 {
    width: 570px;
  }

  .md\:w-670 {
    width: 670px;
  }

  .md\:w-770 {
    width: 770px;
  }

  .md\:w-\[173px\] {
    width: 173px;
  }

  .md\:w-\[202px\] {
    width: 202px;
  }

  .md\:w-\[216px\] {
    width: 216px;
  }

  .md\:w-\[227px\] {
    width: 227px;
  }

  .md\:w-\[280px\] {
    width: 280px;
  }

  .md\:w-\[328px\] {
    width: 328px;
  }

  .md\:w-\[410px\] {
    width: 410px;
  }

  .md\:w-auto {
    width: auto;
  }

  .md\:w-full {
    width: 100%;
  }

  .md\:-translate-x-1\/2 {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:gap-10 {
    gap: 2.5rem;
  }

  .md\:gap-20 {
    gap: 5rem;
  }

  .md\:gap-4 {
    gap: 1rem;
  }

  .md\:gap-\[30px\] {
    gap: 30px;
  }

  .md\:gap-\[50px\] {
    gap: 50px;
  }

  .md\:gap-\[70px\] {
    gap: 70px;
  }

  .md\:gap-x-7 {
    -moz-column-gap: 1.75rem;
         column-gap: 1.75rem;
  }

  .md\:p-\[30px\] {
    padding: 30px;
  }

  .md\:p-\[50px\] {
    padding: 50px;
  }

  .md\:p-5 {
    padding: 1.25rem;
  }

  .md\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .md\:px-\[18px\] {
    padding-left: 18px;
    padding-right: 18px;
  }

  .md\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .md\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .md\:py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .md\:py-\[100px\] {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .md\:py-\[70px\] {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .md\:pb-\[355px\] {
    padding-bottom: 355px;
  }

  .md\:pt-5 {
    padding-top: 1.25rem;
  }

  .md\:pt-\[70px\] {
    padding-top: 70px;
  }

  .md\:pr-5 {
    padding-right: 1.25rem;
  }

  .md\:text-left {
    text-align: left;
  }

  .md\:text-22xl {
    font-size: 22px;
  }

  .md\:text-26xl {
    font-size: 26px;
  }

  .md\:text-30xl {
    font-size: 30px;
  }

  .md\:text-40xl {
    font-size: 40px;
  }

  .md\:text-60xl {
    font-size: 60px;
  }

  .md\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .md\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .md\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .md\:text-24xl {
    font-size: 24px;
  }

  .md\:leading-32 {
    line-height: 32px;
  }

  .md\:leading-40 {
    line-height: 40px;
  }

  .md\:leading-50 {
    line-height: 50px;
  }

  .md\:leading-7 {
    line-height: 1.75rem;
  }

  .md\:leading-70 {
    line-height: 70px;
  }

  .md\:leading-8 {
    line-height: 30px;
  }

  .md\:leading-9 {
    line-height: 2.25rem;
  }

  .md\:leading-34 {
    line-height: 34px;
  }
}

@media (min-width: 1024px) {

  .lg\:absolute {
    position: absolute;
  }

  .lg\:right-0 {
    right: 0px;
  }

  .lg\:top-\[59\%\] {
    top: 59%;
  }

  .lg\:mb-\[140px\] {
    margin-bottom: 140px;
  }

  .lg\:mb-\[150px\] {
    margin-bottom: 150px;
  }

  .lg\:mb-\[285px\] {
    margin-bottom: 285px;
  }

  .lg\:mr-auto {
    margin-right: auto;
  }

  .lg\:mt-0 {
    margin-top: 0px;
  }

  .lg\:mt-8 {
    margin-top: 2rem;
  }

  .lg\:mt-\[110px\] {
    margin-top: 110px;
  }

  .lg\:mt-\[150px\] {
    margin-top: 150px;
  }

  .lg\:mt-\[350px\] {
    margin-top: 350px;
  }

  .lg\:mt-\[60px\] {
    margin-top: 60px;
  }

  .lg\:mt-\[70px\] {
    margin-top: 70px;
  }

  .lg\:block {
    display: block;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-\[60px\] {
    height: 60px;
  }

  .lg\:w-470 {
    width: 470px;
  }

  .lg\:w-570 {
    width: 570px;
  }

  .lg\:w-770 {
    width: 770px;
  }

  .lg\:w-870 {
    width: 870px;
  }

  .lg\:w-\[115px\] {
    width: 115px;
  }

  .lg\:w-\[227px\] {
    width: 227px;
  }

  .lg\:w-\[255px\] {
    width: 255px;
  }

  .lg\:w-\[275px\] {
    width: 275px;
  }

  .lg\:w-\[300px\] {
    width: 300px;
  }

  .lg\:w-\[370px\] {
    width: 370px;
  }

  .lg\:w-\[400px\] {
    width: 400px;
  }

  .lg\:w-\[445px\] {
    width: 445px;
  }

  .lg\:w-\[530px\] {
    width: 530px;
  }

  .lg\:w-\[563px\] {
    width: 563px;
  }

  .lg\:w-\[805px\] {
    width: 805px;
  }

  .lg\:w-\[970px\] {
    width: 970px;
  }

  .lg\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:flex-col {
    flex-direction: column;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:justify-normal {
    justify-content: normal;
  }

  .lg\:gap-0 {
    gap: 0px;
  }

  .lg\:gap-\[162px\] {
    gap: 162px;
  }

  .lg\:gap-\[70px\] {
    gap: 70px;
  }

  .lg\:py-\[100px\] {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .lg\:py-\[70px\] {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .lg\:pt-\[156px\] {
    padding-top: 156px;
  }

  .lg\:text-left {
    text-align: left;
  }

  .lg\:text-100xl {
    font-size: 100px;
  }

  .lg\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .lg\:leading-100 {
    line-height: 100px;
  }
}

@media (min-width: 1280px) {

  .xl\:absolute {
    position: absolute;
  }

  .xl\:left-1\/2 {
    left: 50%;
  }

  .xl\:top-\[40\%\] {
    top: 40%;
  }

  .xl\:mt-0 {
    margin-top: 0px;
  }

  .xl\:mt-\[380px\] {
    margin-top: 380px;
  }

  .xl\:mt-\[570px\] {
    margin-top: 570px;
  }

  .xl\:mt-\[651px\] {
    margin-top: 651px;
  }

  .xl\:block {
    display: block;
  }

  .xl\:hidden {
    display: none;
  }

  .xl\:h-\[40vh\] {
    height: 40vh;
  }

  .xl\:w-470 {
    width: 470px;
  }

  .xl\:w-570 {
    width: 570px;
  }

  .xl\:w-\[1170px\] {
    width: 1170px;
  }

  .xl\:w-\[275px\] {
    width: 275px;
  }

  .xl\:w-\[300px\] {
    width: 300px;
  }

  .xl\:w-\[682px\] {
    width: 682px;
  }

  .xl\:-translate-x-1\/2 {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xl\:transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .xl\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:gap-\[70px\] {
    gap: 70px;
  }

  .xl\:gap-\[90px\] {
    gap: 90px;
  }

  .xl\:gap-x-\[160px\] {
    -moz-column-gap: 160px;
         column-gap: 160px;
  }

  .xl\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .xl\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .xl\:pl-0 {
    padding-left: 0px;
  }

  .xl\:pt-\[651px\] {
    padding-top: 651px;
  }
}